<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXhjwKjRXy5SafvfzBWJeDwjCgG4p5KNU</string>
	<key>GCM_SENDER_ID</key>
	<string>249539425296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sih1-7632c</string>
	<key>STORAGE_BUCKET</key>
	<string>sih1-7632c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249539425296:ios:096d9a9f64e94ae1bd0695</string>
	<key>DATABASE_URL</key>
	<string>https://sih1-7632c-default-rtdb.firebaseio.com</string>
</dict>
</plist>